<!DOCTYPE html>
<html>
  <head>
    <title>product listing api</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
    <h1 class="text-center">Products</h1>
    </div>
    </div>
    <div class="row">
      <% products.forEach(function(product){ %>
        <div class="col-md-4 mb-2">
          <div class="card text-center bg-light">
              <div class="card-head">
                 <a href="#" onclick="window.open('<%= product.p_productUrl %>');"><img src="<%= product.p_img_small %>"></a>
              </div>
            <div class="card-body">
              <%= product.p_title %>
              <br>
              <%= product.selling_price %>
              <%= product.score%>
            </div>
          </div>
        </div>
    <% }); %>
    </div>
  </div>
  </body>
</html>
